<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Intelligent Bottle Sorting System</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div id="content-wrapper">
            <header id="title-header">
                <h1>Intelligent Bottle Sorting System</h1>
            </header>

           <section id="video-section">
                <div class="video-container">
                    <img id="video-feed" src="" alt="Sistemul este oprit. Apasă Start pentru pornire." width="640" height="480">
                </div>
            </section>

            <section id="start-section">
                <button onclick="startSystem()">Start</button>
                <p id="start-text">Click <span>"Start"</span> button to start the system</p>
            </section>

            <footer id="footer">
                <p>&copy;Developed by Avramescu Mario-Ionuț</p>
            </footer>
        </div>
        <script src="../static/js/script.js"></script>
    </body>
</html>
